<div class="app-table-component">

  <mat-form-field class="app-table-component-search">
    <input matInput placeholder="Search" #search>
  </mat-form-field>

  <mat-table #table [dataSource]="tableService.items">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Guid Column -->
    <ng-container matColumnDef="guid">
      <mat-header-cell *matHeaderCellDef> Guid </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.guid}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="tableService.tableConfig.columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableService.tableConfig.columns;"></mat-row>

  </mat-table>
  <mat-paginator [length]="tableService.pagination.query.count"
                 [pageSize]="tableService.pagination.query.limit"
                 [pageSizeOptions]="tableService.tableConfig.limits"
                 (page)="tableService.pagination.pageChange($event)">
  </mat-paginator>


  <!-- Bootstrap Table -->
  <div class="app-table-component-table">
    <table class="table table-bordered table-light">
      <tr id="nameTd">
        <ng-template app-table-head [ngIf]="!isExistNameCol">
          <td *ngFor="let col of columns">
            Header
          </td>
        </ng-template>
        <ng-template app-table-head [ngIf]="isExistNameCol">
          <td *ngFor="let col of columns; let i = index" (click)="showNote()"
              [ngClass]="tableService.dataAppTableCol[i].klass[i]"
              [ngStyle]="{'text-align': tableService.tableConfig.header.align}">
            {{col}}

            <!-- Template for TableNote Directive -->
            <p class="app-table-component-table-notes" *tableNote="visible">
              подробно об элементе
            </p>
            <!-- /Template for TableNote Directive -->

          </td>
          <td *ngIf="this.tableService.tableConfig.rowClassActions.length > 0">
          </td>
        </ng-template>

      </tr>
      <tr *ngFor="let navItem of tableService.navItems; let rowIndex = index" app-table-row
          [item]="navItem"
          [columns]="columns"
          [rowIndex]="rowIndex"
          [ngClass]="tableService.classRow"
          tableEvent>
      </tr>
    </table>
  </div>

  <mat-form-field class="count-elements-table">
    <mat-select placeholder="Count elements" (change)="setCountPages($event.value)">
      <mat-option *ngFor="let val of config.limits" [value]="val">
        {{val}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-table-pagination *ngIf="tableService.items?.length > 0"></app-table-pagination>
</div>

