.app-table-component{

}
.form-control{
  margin: 7px 0px;
}
.app-table-component-table{
  padding-top: 70px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.app-table-component-actions{
  width: 216px;
  position: fixed;
  padding-top: 63px;
}
.form-group{

}
.filter{
  position: fixed;
  padding: 5px;
}
.app-table-component-table-notes{
  font-size: small;
  font-weight: normal;
}
.dropdown {
  position: fixed;
  margin-top: 414px;
  padding-left: 13px;
}
.dropdown select {
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
