.btn-toolbar{
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 17px;
}
.btn-group label{
  margin-top:10px;
}
.btn {
  margin: 0px 7px;
}
.pagination{
  margin: 0px !important;
}
