<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <ul class="pagination">

      <button class="btn btn-sm btn-outline-primary" (click)="fstPage()">
        <a> << </a>
      </button>

      <button class="btn btn-sm btn-outline-primary" [ngClass]="{'disabled': (this.tableService.pages.query.page == 1)}" (click)="prevPage()">
        <a>Пред.<</a>
      </button>

      <button class="btn btn-sm btn-outline-primary" *ngFor="let page of this.tableService.pages.pagesIndex"
              [ngStyle]="setStyle(page)" (click)="setPage(page)">
        <a>{{page}}</a>
      </button>

      <button class="btn btn-sm btn-outline-primary"
              [ngClass]="{'disabled': (this.tableService.pages.query.page == pageNum || pageNum == 0)}" (click)="nextPage()">
        <a>След.></a>
      </button>

      <button class="btn btn-sm btn-outline-primary" (click)="lastPage()">
        <a> >> </a>
      </button>

    </ul>
  </div>
</div>
